---

---

<aside
	class="breakout focus-ring-light min-h-10 items-center justify-center text-balance bg-theme-base-900 px-4 py-2 text-center text-sm text-theme-base-300"
>
	<p class="content">Netlify + Astro + Turso = ❤️</p>
</aside>
