---
import { CartDrawer } from '~/features/cart/CartDrawer.tsx';
import AstroLogo from './AstroLogo.astro';
import type { HTMLAttributes } from 'astro/types';
import { LoginStatus } from './LoginStatus.tsx';
import { SearchIconLink } from '~/features/search/SearchBox.tsx';

export interface Props extends HTMLAttributes<'nav'> {}

const { class: className, ...props } = Astro.props;
---

<nav
	aria-label="Site navigation"
	class:list={[
		'!flex min-h-20 flex-row items-center gap-3 bg-white py-2 md:justify-between',
		className,
	]}
	{...props}
>
	<div class="flex-1">
		<a class="-m-2 block w-fit p-2 transition hover:text-theme-base-600" href="/">
			<AstroLogo class="relative" />
			<span class="sr-only">Home</span>
		</a>
	</div>
	<LoginStatus client:only="solid-js" />
	<SearchIconLink client:idle />
	<div class="flex justify-end gap-2">
		<CartDrawer client:idle />
	</div>
</nav>
