---

---

<aside
	class="flex  items-center justify-center justify-between py-4 text-sm text-balance text-theme-base-100 bg-pink-700 text-sm text-theme-base-300"
	
>
	<p class="content">+254 34 365 122</p> <p class="content">FNG BUILDING, MUTHAIGA NORTH</p> <p class="content">info@emalipo.com</p> <p class="content">Monday-Friday:09:00AM - 05:00PM</p>
</aside>

