---
import CollectionSection from '~/features/collection/CollectionSection.astro';
import LandingHero from '~/components/LandingHero.astro';
import ProductCarouselSection from '~/features/product/ProductCarouselSection.astro';
import { applyCacheHeaders, CacheTags, type CacheTagOptions } from '~/lib/headers.ts';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';
import { getRecommendedProducts } from '~/lib/recommendations.ts';

const recommendedProducts = await getRecommendedProducts();

const cacheTags: CacheTagOptions = {
	collectionsMetadataWasModified: true,
	productIds: recommendedProducts.map((p) => p.id),
};
const additionalInfoTags = CacheTags.toValues(cacheTags);
applyCacheHeaders(Astro.response.headers, { cacheTags });
---

<PrimaryLayout title="eMalipo Shop" additionalInfoTags={additionalInfoTags}>
	<LandingHero />
	<main class="breakout mt-16 flex flex-col gap-y-16">
		<div class="content">
			<ProductCarouselSection heading="Popular right now" products={recommendedProducts} />
		</div>

		<CollectionSection />
	</main>
</PrimaryLayout>
